
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>@ViewBag.Title - 红包云平台</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/animate.min.css" rel="stylesheet" />
    <link href="~/assets/css/light-bootstrap-dashboard.css" rel="stylesheet" />
    <link href="~/assets/css/demo.css" rel="stylesheet" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="~/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="~/assets/css/datetimepicker.css" rel="stylesheet" />

    <script src="~/assets/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="~/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/js/bootstrap-checkbox-radio-switch.js"></script>
    <script src="~/assets/js/chartist.min.js"></script>
    <script src="~/assets/js/bootstrap-notify.js"></script>
    <script src="~/assets/js/light-bootstrap-dashboard.js"></script>
    <script src="~/assets/js/jquery.datetimepicker.js"></script>
    <script src="~/assets/js/jquery.pomelo.fileupload.js"></script>
    <script src="~/assets/js/moment.js"></script>
    <script src="~/assets/js/jquery.signalr-2.0.3.js"></script>
    <script src="/signalr/hubs"></script>
</head>
<body>

    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="/assets/img/sidebar-5.jpg">

            <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


            <div class="sidebar-wrapper">
                <div class="logo">
                    <a asp-action="Index" asp-controller="Home" class="simple-text">
                        微信云红包
                    </a>
                </div>

                <ul class="nav">
                    <li>
                        <a asp-action="Index" asp-controller="Home">
                            <i class="pe-7s-graph"></i>
                            <p>仪表盘</p>
                        </a>
                    </li>
                    @*<li>
                        <a asp-action="Pay" asp-controller="Account">
                            <i class="pe-7s-cash"></i>
                            <p>账户充值</p>
                        </a>
                    </li>*@
                    <li>
                        <a asp-action="Index" asp-controller="RedPocket">
                            <i class="pe-7s-wallet"></i>
                            <p>红包活动</p>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Template" asp-controller="RedPocket">
                            <i class="pe-7s-plugin"></i>
                            <p>红包模板</p>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Coupon">
                            <i class="pe-7s-cash"></i>
                            <p>优惠券</p>
                        </a>
                    </li>
                    @if (User.IsInRole("Root"))
                    {
                        <li>
                            <a asp-action="BlackList" asp-controller="RedPocket">
                                <i class="pe-7s-albums"></i>
                                <p>黑名单</p>
                            </a>
                        </li>
                        <li>
                            <a asp-action="Compensate" asp-controller="RedPocket">
                                <i class="pe-7s-shield"></i>
                                <p>补发红包</p>
                            </a>
                        </li>                        <li>
                            <a asp-action="Index" asp-controller="Account">
                                <i class="pe-7s-users"></i>
                                <p>商户管理</p>
                            </a>
                        </li>
                    }
                    <li>
                        <a asp-action="Password" asp-controller="Account">
                            <i class="pe-7s-lock"></i>
                            <p>修改密码</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:$('#frmLogout').submit()">
                            <i class="pe-7s-angle-left-circle"></i>
                            <p>注销登录</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">系统消息</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-dashboard"></i>
                                    <b class="caret"></b>
                                    @if (ViewBag.Notifications.Count > 0)
                                    {
                                        <span class="notification">@ViewBag.Notifications.Count</span>
                                    }
                                </a>
                                @if (ViewBag.Notifications.Count > 0)
                                {
                                    <ul class="dropdown-menu">
                                        @foreach (NotificationViewModel x in ViewBag.Notifications)
                                        {
                                            <li><a href="@x.Url">@x.Text</a></li>
                                        }
                                    </ul>
                                }
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#">
                                    余额：@Html.Money(User.Current.Balance)
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <p class="copyright pull-right">
                        &copy; 2016 <a href="#">Hongding</a>. All rights reserved.
                    </p>
                </div>
            </footer>

        </div>
    </div>

    <form id="frmLogout" asp-action="SignOut" asp-controller="Account"></form>
</body>

</html>
