@model Prompt
@{ 
    ViewBag.Title = SR["Message"];
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="card">
            <div class="header">
                <h4 class="title">@Model.Title</h4>
            </div>
            <div class="content">
                @Model.Details
                <hr />
                <p style="text-align: center">
                    @if (!string.IsNullOrWhiteSpace(Model.RedirectUrl))
                    {
                        <a href="@Model.RedirectUrl" class="btn btn-primary">@Model.RedirectText</a>
                    }
                    @if (!Model.HideBack)
                    {
                        <a href="javascript:window.history.go(-1);" class="btn btn-info">@SR["Prev"]</a>
                    }
                    <a href="/" class="btn btn-success">@SR["Back To Home"]</a>
                </p>
            </div>
        </div>
    </div>
</div>