@model IEnumerable<Certificate>
@{ 
    ViewBag.Title = SR["Certificate"];
}

<div class="card">
    <div class="header">
        <h4 class="title">@SR["Certificate Management"]</h4>
        <p class="category">@SR["Edit your certificate here, "]<a asp-action="CreateCertificate" asp-controller="Admin">@SR["or add a new certificate."]</a></p>
    </div>
    <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>@SR["Certificate Name"]</th>
                    <th>@SR["PRI"]</th>
                    <th>@SR["Operations"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <td>@x.Title</td>
                        <td>@x.PRI</td>
                        <td>
                            <a asp-controller="Admin" asp-action="EditCertificate" asp-route-id="@x.Id">@SR["Edit"]</a>
                            <a href="javascript:remove(@x.Id);">@SR["Remove"]</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<form id="frmRemove" asp-action="RemoveCertificate" asp-controller="Admin" asp-route-id="NULL"></form>
<script>
    function remove(id)
    {
        if (confirm("@(new HtmlString(SR["Are you sure you want to remove this?"]))"))
        {
            $('#frmRemove').attr('action', $('#frmRemove').attr('action').replace('NULL', id));
            $('#frmRemove').submit();
        }
    }
</script>