@{ 
    ViewBag.Title = SR["Create Certificate"];
}
<script src="~/admin/js/jquery.pomelo.fileupload.js"></script>
<script src="~/admin/js/markdown.js"></script>
<form asp-action="CreateCertificate" asp-controller="Admin" class="row" enctype="multipart/form-data">
    <div class="col-md-6 col-md-offset-3">
        <div class="card">
            <div class="header">
                <h4 class="title">@ViewBag.Title</h4>
                <p class="category">@SR["Fill the following form, and it will be shown in your resume."]</p>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <tr>
                        <td>@SR["Certificate Name"]</td>
                        <td><input type="text" name="Title" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>@SR["PRI"]</td>
                        <td><input type="text" name="PRI" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>@SR["Upload"]</td>
                        <td><input type="file" name="File" class="form-control" /></td>
                    </tr>
                </table>
                <p style="text-align: center">
                    <input type="submit" class="btn btn-danger" value="@SR["Submit"]" />
                </p>
            </div>
        </div>
    </div>
</form>