@model Experience
@{ 
    ViewBag.Title = SR["Edit Working Experience"];
}
<script src="~/admin/js/jquery.pomelo.fileupload.js"></script>
<script src="~/admin/js/markdown.js"></script>
<form asp-action="EditExperience" asp-controller="Admin" asp-route-id="@Model.Id" class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="card">
            <div class="header">
                <h4 class="title">@ViewBag.Title</h4>
                <p class="category">@SR["Modify the following form, and it will be changed after clicking submit button."]</p>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <tr>
                        <td>@SR["Company"]</td>
                        <td><input type="text" asp-for="Company" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>@SR["Position"]</td>
                        <td><input type="text" asp-for="Position" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>@SR["From"]</td>
                        <td><input type="text" asp-for="From" class="form-control datetime" /></td>
                    </tr>
                    <tr>
                        <td>@SR["To"]</td>
                        <td><input type="text" asp-for="To" class="form-control datetime" /></td>
                    </tr>
                    <tr>
                        <td>@SR["Description"]</td>
                        <td>
                            <div class="markdown-textbox-outer">
                                <textarea id="txtContent" class="markdown-textbox" name="Description" placeholder="@SR["Markdown has been supported..."]">@Model.Description</textarea>
                                <div class="markdown-textbox-bottom">@SR["Attach files by dragging & dropping, "]<a href="javascript:uploadAttachment();">@SR["selecting them"]</a>@SR["or pasting from the clipboard."]</div>
                            </div>    
                        </td>
                    </tr>
                </table>
                <p style="text-align: center">
                    <input type="submit" class="btn btn-danger" value="@SR["Submit"]" />
                </p>
            </div>
        </div>
    </div>
</form>
<form id="frmAjaxUpload">
    <input type="file" id="uploadFile" name="file" />
</form>